<!--
* Created by rvela on 08-04-2017.
-->
<ion-view view-title="Comics">
  <ion-content>
    <ion-refresher pulling-text="Release to update" on-refresh="doRefresh()">
    </ion-refresher>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input ng-model="search.title" type="search" placeholder="Search comic by title">
    </label>
    <label class="item item-input">
      <i class="icon ion-calendar placeholder-icon"></i>
      <input ng-model="search.year" type="number" placeholder="Search comic by year (e.g: 2011)">
    </label>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
        ng-repeat="comic in comics | filter: {title: search.title
        , dates: {type: 'onsaleDate', date:search.year}}"
        href="#/tab/comics/{{comic.id}}">
        <img ng-src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}">
        <h2>{{comic.title}}</h2>
        <span ng-repeat = "creator in comic.creators.items">
          <p ng-if="creator.role==='writer' || creator.role==='penciller'">
            {{creator.name}}
          </p>
        </span>
      </ion-item>
      <ion-item ng-if="!(comics | search).length">
        <span> No items </span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
